.contato{
  margin-top: 120px;
  margin-bottom: 120px;
  @include device(s){
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contato form{
  label{
    @include tipo-1(18);
    display:block;
  }
  input[type="text"], textarea{
    @include tipo-1(18);
    color: $cor-terciaria;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: 2px solid $cor-textos;
    background: transparent;
    margin-bottom: 1em;
    &:hover, &:focus {
      outline: none;
      border-color: $cor-secundaria;
    }
  }
  textarea {
    height: 120px;
  }
}

input.button{
  @include tipo-1(18);
  cursor: pointer;
  color: $cor-textos;
  text-transform: uppercase;
  border: 2px solid $cor-textos;
  background: transparent;
  display: block;
  width: 200px;
  padding-top: 5px;
  @include box-shadow(5px 5px 0 -2 $cor-secundaria, 5px 5px 0 0 $cor-textos);
  transition: .3s;
  &:hover {
    @include box-shadow(3px 3px 0 -2px $cor-secundaria, 3px 3px 0 0 $cor-textos);
  }
}

.contato-info{
  display: inline-block;
  color: $cor-textos;
  margin-top: 2em;
  margin-bottom: 3em;
  @include device(l){
    float: right;
    text-align: right;
    margin-top: -3em; 
  }
}

.contato-mapa{
  display: block;
  @include box-shadow(0 0 0 10px $cor-secundaria);
  clear: both;
  img{
    width: 100%;
  }
}