body{
  background: $cor-primaria;
  border: 10px solid $cor-secundaria;
  color: $cor-terciaria;
  @include device(s){
    border: none;
  }
}

img{
  display: block;
  max-width: 100%; //faz ficar responsivo
}

p{
  @include tipo-1(18);
}

.titulo{
  @include tipo-1(18);
  text-transform: uppercase;
  @include device(s){
    margin-bottom: 40px;
  }
  &::after{
    content: '';
    display: block;
    width: 70%;
    float: right;
    background-color: $cor-terciaria;
    height: 2px;
    margin-top: 14px;
    @include device(m){
      width: 60%;
    }
  }
}