.intro{
  margin-top: 60px;
  @include device(s){
    margin-top: 20px;
  }
}

.logo{
  margin-bottom: 60px;
}

.intro-info{
  border-right: 2px solid $cor-terciaria;
  max-width: 320px; //diminui o espaço tamanho 
  p {
    padding-top: 10px;
  }
  p:first-child{
    border-bottom: 2px solid $cor-terciaria;
    padding-bottom: 10px;
  }
}

.intro-telefone{
  color: $cor-textos;
  @include device(s){
    margin-bottom: 40px;
  }
  &::after {
    content: '/ / / /';
    display: block;
    margin-top: 200px;
    font-size: 220px;
    letter-spacing: -90px;
    color: $cor-terciaria;
    @include device(m){
      margin-top: 80px;
      font-size: 160px;
      letter-spacing: -70px;
    }
    @include device(s){
      display:none
    }
  }
}

.aberto{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: $verde;
  border-radius:  50%;
  margin-left: 30px;
}

.intro-foto{
  border: 10px solid $cor-secundaria;
  width: 100%;
}